* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 34, 34);
}

h2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
}